@{
    ViewData["Title"] = "Home";
}

<div class="banner">
    <img src="https://www.freewebheaders.com/wp-content/gallery/cats/cute-sleepy-kitten-website-header.jpg" alt="Banner Image" class="img-fluid">
</div>

<div class="container mt-4">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Catopia!</h1>
        <p class="lead">Find your purr-fect feline companion today.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/Cat/Index" role="button">View Cats for Adoption</a>
    </div>
    <br />

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Care & Resources</h2>
                </div>
                <div class="panel-body">
                    <p>Discover helpful tips and resources for cat care.</p>
                    <a class="btn btn-secondary" href="/Home/CareAndResources" role="button">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">News & Events</h2>
                </div>
                <div class="panel-body">
                    <p>Stay updated with the latest news and upcoming events at Catopia.</p>
                    <a class="btn btn-secondary" href="/Home/NewsAndEvents" role="button">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">About / FAQ / Contact</h2>
                </div>
                <div class="panel-body">
                    <p>Learn more about Catopia, explore frequently asked questions, and get in touch with us.</p>
                    <a class="btn btn-secondary" href="/Home/AboutFAQContact" role="button">Get to Know Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
