@{
    ViewData["Title"] = "Home";
}

<div class="banner">
    <img src="https://www.freewebheaders.com/wp-content/gallery/cats/cute-sleepy-kitten-website-header.jpg" alt="Banner Image" class="img-fluid">
</div>

<div class="container mt-4">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Catopia!</h1>
        <p class="lead">Find your purr-fect feline companion today.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/Cat/Index" role="button">View Cats for Adoption</a>
    </div>
    <br />

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resources</h5>
                    <p class="card-text">Discover helpful tips and resources for cat care.</p>
                    <a class="btn btn-secondary" href="/Home/Care" role="button">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">News</h5>
                    <p class="card-text">Stay updated on shelter events and news!</p>
                    <a class="btn btn-secondary" href="/Home/News" role="button">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <p class="card-text">Learn more, explore FAQ, and get in touch!</p>
                    <a class="btn btn-secondary" href="/Home/About" role="button">Get to Know Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
