@{
    ViewData["Title"] = "Resources";
}

<div class="container mt-4">
    <div>
        <h2>Resources</h2>
        <p> <strong> Congratulations on taking the next step to welcoming a new companion into your home! </strong> </p>
        <p>
            While cats are generally more independent than some other pets, they still require proper care and attention, and it's important
            to research and understand their needs fully before bringing one home. A well-balanced diet, stimluating environment, regular vet
            checks &amp; vaccinations, and bonding &amp; training sessions are all things to consider when thinking about the maintenance and wellbeing
            of any animal, including cats. If you're considering blending cat ownership into your lifestyle, or if you've recently adopted and
            feel lost, here's a small compilation of public resources and some of our shelter's tips to caring for a cat to help you decide!
        </p>
    </div>
    <br>

    <hr>

    <h3 class="text-center">Catopia's Advice</h3>
    <div class="row mt-4 d-flex align-items-center" style="background-color: #f0f0f0; padding: 20px;">
        <div class="col-md-6">
            <img src="https://www.1zoom.me/big2/960/266075-frederika.jpg" alt="First Image" class="img-fluid" style="height: 360px">
        </div>
        <div class="col-md-6">
            <h4>Indoor or outdoor?</h4>
            <p>
                Having an outdoor cat may seem easier, but comes with risks you should be aware of before deciding that life for your friend.
                Being hit by vehicles, attacked by other animals, ingesting poisons (antifreeze, pesticides, etc.), contracting diseases from
                prey or other cats, or even just getting trapped or lost are all common tragedies for the average outdoor cat. Cats are also
                invasive species that can disrupt healthy ecosystems, and in the circumstance they are picked up as a stray by animal control
                they can contribute to already overcrowded shelters having to euthanize healthy animals. If you want your cat to have the most
                comfortable, lengthy life as possible (and if you want to support your environment and your local shelters), keeping your cat
                indoors is ideal.
            </p>
        </div>
    </div>
    <div class="row mt-4 d-flex align-items-center" style="background-color: #f0f0f0; padding: 20px;">
        <div class="col-md-6 order-md-2 ">
            <img src="https://million-wallpapers.com/wallpapers/2/85/17644267262497340793/a-white-kitten-against-the-wall-in-the-house.jpg" alt="Second Image" class="img-fluid" style="height: 360px; padding-left: 80px">
        </div>
        <div class="col-md-6 order-md-1">
            <h4>Unwanted behavior: train your kitten!</h4>
            <p>
                Cats, especially younger ones, are prone to engage in play that involves scratching or biting at people's hands while playing
                with them or random objects and furniture; this can lead to worse destructive behaviors without correction. Kittens are just
                trying to practice the skills they would usually need for survival, and it's best to redirect this behavior to acceptable play
                objects like feather toys to help keep them active and enriched without damaging you or your environment. Discouraging bad
                behavior should never involve hitting or flicking your cat because it can be interpreted as play, which is why redirection as
                enoucragement can be so important. Many cats are food-driven and treats are a wonderful encouragement tool as well!
            </p>
        </div>
    </div>
    <br>

    <hr>

    <br>
    <div class="row justify-content-around">
        <div class="card" style="width: 30em;">
            <div class="card-body">
                <h3 class="card-title text-center">Behavioral Resources</h3>
                <div class="text-center mt-4">
                    <div class="mb-4">
                        <a href="https://resources.bestfriends.org/cats/behavior-socialization" class="btn btn-primary btn-lg btn-block" style="width: 18em">Common Problems &amp; Solutions</a>
                    </div>
                    <div class="mb-4">
                        <a href="https://www.humanesociety.org/resources/how-introduce-your-new-cat-resident-cats" class="btn btn-primary btn-lg btn-block" style="width: 18em">Introducing Cats Together</a>
                    </div>
                    <div class="mb-4">
                        <a href="https://www.humanesociety.org/resources/how-help-your-cats-use-litter-box" class="btn btn-primary btn-lg btn-block" style="width: 18em">Using Litterboxes Right</a>
                    </div>
                    <div class="mb-4">
                        <a href="https://www.jacksongalaxy.com/blogs/news" class="btn btn-primary btn-lg btn-block" style="width: 18em">Informational Cat Expert Blog</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 30em;">
            <div class="card-body">
                <h3 class="card-title text-center">Other Resources</h3>
                <div class="text-center mt-4">
                    <div class="mb-4">
                        <a href="https://www.vet.cornell.edu/departments-centers-and-institutes/cornell-feline-health-center/health-information/feline-health-topics/feeding-your-cat" class="btn btn-primary btn-lg btn-block" style="width: 18em">Dietary Needs of a Cat</a>
                    </div>
                    <div class="mb-4">
                        <a href="https://www.seattlehumane.org/resources/environmental-enrichment/" class="btn btn-primary btn-lg btn-block" style="width: 18em">Creating a Rich Environment</a>
                    </div>
                    <div class="mb-4">
                        <a href="https://www.avma.org/resources/pet-owners/yourvet/finding-veterinarian" class="btn btn-primary btn-lg btn-block" style="width: 18em">Finding a Good Veterinarian</a>
                    </div>
                    <div class="mb-4">
                        <a href="https://www.apartmentlist.com/renter-life/the-ultimate-guide-to-apartment-living-with-a-pet" class="btn btn-primary btn-lg btn-block" style="width: 18em">Finding Cat-Friendly Housing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <hr>

    <br>
    <h3 class="text-center">Interesting Videos About Cats</h3>
    <p class="text-center">(just for fun!)</p>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <iframe width="100%" height="275" src="https://www.youtube.com/embed/cMZieHkEUSU" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="col-md-4">
            <iframe width="100%" height="275" src="https://www.youtube.com/embed/sI8NsYIyQ2A" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="col-md-4">
            <iframe width="100%" height="275" src="https://www.youtube.com/embed/jdrNjHPYKz4" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</div>