@{
    ViewData["Title"] = "Resources";
}

<div class="container mt-4">
    <div class="text-center about-section">
        <h2>Resources</h2>
        <p>
            Congratulations on taking the next step to welcoming a new companion into your home! While cats are generally more independent 
            than some other pets, they still require proper care and attention, and it's important to research and understand their needs 
            fully before bringing one home. A well-balanced diet, stimluating environment, regular vet checks & vaccinations, and 
            bonding & training sessions are all things to consider when thinking about the maintenance and wellbeing of any animal, 
            including cats. If you're considering blending cat ownership into your lifestyle, or if you've recently adopted and feel lost, 
            here's a small compilation of public resources and some of our shelter's tips to caring for a cat to help you decide!
        </p>
    </div>
    <br />

    <h3 class="text-center">Catopia's Advice</h3>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="https://www.1zoom.me/big2/960/266075-frederika.jpg" alt="First Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h4>Indoor or outdoor?</h4>
            <p>
                Having an outdoor cat may seem easier, but comes with risks you should be aware of before deciding that life for your friend. 
                Being hit by vehicles, attacked by other animals, ingesting poisons (antifreeze, pesticides, etc.), contracting diseases from 
                prey or other cats, or even just getting trapped or lost are all common tragedies for the average outdoor cat. Cats are also 
                invasive species that can disrupt healthy ecosystems, and in the circumstance they are picked up as a stray by animal control 
                they can contribute to already overcrowded shelters having to euthanize healthy animals. If you want your cat to have the most 
                comfortable, lengthy life as possible (and if you want to support your environment and your local shelters), keeping your cat 
                indoors is ideal.
            </p>
        </div>
    </div>
    <br />
    <div class="row mt-4">
        <div class="col-md-6 order-md-2">
            <img src="https://million-wallpapers.com/wallpapers/2/85/17644267262497340793/a-white-kitten-against-the-wall-in-the-house.jpg" alt="Second Image" class="img-fluid" style="height: 300px">
        </div>
        <div class="col-md-6 order-md-1">
            <h4>Unwanted behavior: train your kitten!</h4>
            <p>
                Cats, especially younger ones, are prone to engage in play that involves scratching or biting at people's hands while playing 
                with them or random objects and furniture; this can lead to worse destructive behaviors without correction. Kittens are just 
                trying to practice the skills they would usually need for survival, and it's best to redirect this behavior to acceptable play 
                objects like feather toys to help keep them active and enriched without damaging you or your environment. Discouraging bad 
                behavior should never involve hitting or flicking your cat because it can be interpreted as play, which is why redirection as 
                enoucragement can be so important. Many cats are food-driven and treats are a wonderful encouragement tool as well!
            </p>
        </div>
    </div>
</div>

<div>

</div>

<style>
    .about-section {
        background-color: #f0f0f0;
        padding: 20px;
    }

    .faq-section {
        padding: 20px;
    }

    .question {
        font-size: 1.2em;
        color: #0d6efd;
    }

    .answer {
        font-weight: bold;
        padding-bottom: 20px;
    }

    .panel {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
    }
</style>
