@model Cat

@{
    ViewBag.Title = "Create a Cat";
}

<div class="container mt-4">
    <h2 style="text-align: center">@ViewBag.Title</h2>

    <div class="card p-3 shadow" style="max-width: 500px; margin: auto;">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"><strong>Name</strong></label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label"><strong>Gender</strong></label>
                <span asp-validation-for="Gender" class="text-danger"></span>
                <select asp-for="Gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"><strong>Birthdate</strong></label>
                <span asp-validation-for="Birthdate" class="text-danger"></span>
                <input asp-for="Birthdate" class="form-control" type="date" />
            </div>

            <div class="form-group">
                <label asp-for="BriefDescription" class="control-label"><strong>3- to 8-word Description</strong></label>
                <span asp-validation-for="BriefDescription" class="text-danger"></span>
                <textarea asp-for="BriefDescription" class="form-control" rows="2" placeholder="A timid and tolerant longhair."></textarea>
            </div>

            <div class="form-group">
                <label asp-for="ExtendedDescription" class="control-label"><strong>Extended Description</strong></label>
                <textarea asp-for="ExtendedDescription" class="form-control" rows="4" placeholder="A 9-year-old ragdoll who has spent most of his time with children, Bundy is a great fit for a family home. He was unfortunately turned over to the shelter upon financial crisis, and is still quite unsure about all of the sudden, new surroundings because he is older. He will warm up to you over time and show you love; his previous family said he was shy but loving with people. He is used to other cats, and ignores most dogs."></textarea>
            </div>

            <div class="form-group">
                <label asp-for="HealthNotes" class="control-label"><strong>Health Notes</strong></label>
                <input asp-for="HealthNotes" class="form-control" />
            </div>

            <div class="form-group" style="margin-bottom: 1em;">
                <label asp-for="ImageURL" class="control-label"><strong>Image URL (.jpeg, .png, or .webp)</strong></label>
                <span asp-validation-for="ImageURL" class="text-danger"></span>
                <input asp-for="ImageURL" class="form-control" />
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}